<app-nav></app-nav>
<div class="support-view">
  <h2>Soporte</h2>

  <div class="support-options">
  <a routerLink="/support/contact-us">Contactanos</a>
  <a routerLink="/support/terms-and-policies">Terminos y Condiciones</a>
  <a routerLink="/support/faq">Preguntas Frecuentes</a>
  </div>
  <br>
  <h3>Reporta un problema</h3>
  <br>
  <form>
  <label for="issue">Describe el problema:</label>
  <textarea id="issue" name="issue" rows="5" required></textarea>
  <br>
  <button type="submit">Enviar</button>
  </form>
</div>
