<app-nav></app-nav>
<div class="configuration-view">
  <div class="settings-container">
    <h1>Configuración</h1>
    <ul class="settings-list">
      <li>
        <a routerLink="/phone-number">Número</a>
      </li>
      <li>
        <a routerLink="/language">Idioma</a>
      </li>
      <li>
        <a routerLink="/date and distances">Privacidad</a>
      </li>
      <li>
        <a routerLink="/night-mode">Apariencia</a>
      </li>
      <li>
        <a routerLink="/suggestions">Feedback</a>
      </li>
      <li class="delete">
        <a routerLink="/suggestions" style="color: rgb(98, 65, 176);;">Eliminar cuenta</a>
      </li>
    </ul>
  </div>
</div>
